
header{
    display:flex;align-content:center;justify-content:center;align-items:center;
    width:100vw;
    height:44px;
    background-color:var(--background-color);
    
}
header .history{
    min-width: 260px;
    padding-left: 16px;
    padding-right: 20px;
}
header .svg{
    height: 20px;
}
.s-border{
    display:flex;align-items:center;justify-content:space-around;
    padding:2px;color:var(--color);
    gap:1em;height:24px;width: 500px;
    border-radius:4px;background-color:rgba(209, 210, 211, 0.2);
    border-bottom-color:rgb(233, 236, 239);
}
.s-border input{
    width: 100%;color:var(--color);
    outline:none;border-style:none;background-color: transparent;
}
header .user-info{
    width: 300px;
    min-width: 260px;
    padding-left: 32px;
    padding-right: 16px;
    display:flex;justify-content:center;align-items:center;

}
.s-avatar{
    border-radius:4px;justify-content:center;align-items:center;
    /*width: 28px;*/height: 28px; padding-left: 10px;
}
.s-avatar img{border-radius:4px;width:100%;height:100%;object-fit:fill;}