
[data-theme="light"]{
    --primary:rgb(97, 31, 105);
    --primary-counter:rgb(18, 100, 163);    
    --background:rgb(97, 31, 105);
    --color:aliceblue;
    --background-color-side: rgb(97, 31, 105);
    --background-color-main:aliceblue;
}
[data-theme="dark"]{
    --primary:rgb(97, 31, 105);
    --primary-counter:rgb(18, 100, 163);
    --background-color:rgb(18, 16, 22);
    --color:rgb(209, 210, 211);
    --background-color-side: rgb(25, 23, 29);
    --background-color-main:rgb(27, 30, 34);
}

*{margin:0;padding:0;box-sizing:border-box;}
body{display:flex;flex-direction:column;align-content:center;}

.middle-container{
    display:flex;align-content:center;
    height:calc(100vh - 44px);
    width:100vw;
}
.a-left{
    background-color:var(--background-color-side);
    color:var(--color);
    width:15%;
    height:100%;
    padding: 2rem;
}
/*main*/
.a-right{
    background-color:var(--background-color-main);
    color:var(--color);
    width:85%;
    height:100%;
}
